<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>CONCESIONARIO</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body class="card-body">
		<div class="card text-white bg-dark mb-3">
		  <div class="card-header">Búsqueda de coches</div>
		  <div class="card-body">
				<form th:action="@{/actSearchCar}" th:object="${searchedCar}" method="POST">
					<div class="form-group">
			  			<label for="inpRegistration">Matrícula</label>
			  			<input type="text" class="form-control" id="inpTcarRegistr" name="matricula" placeholder="Matrícula del coche.">
					</div>
					<div class="form-group">
						  <label for="inpMarca">Marca</label>
						  <input type="text" class="form-control" id="inpTbrand" name="marca" placeholder="Marca.">
					</div>
					<div class="form-group">
						  <label for="inpModelo">Modelo</label>
						  <input type="text" class="form-control" id="inpTmodel" name="modelo" placeholder="Modelo.">
					</div>
					<button type="submit" name="btnSearchCarBy" class="btn btn-success">Buscar</button>
					<a class="btn btn-primary" href="index" role="button" id="aBtnReturn">Volver</a>
				</form>
			  </div>
			</div>
	</body>
</html>