<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>CONCESIONARIO</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body class="card-body">
		<div class="card text-white bg-dark mb-3">
		  	<div class="card-header">Coches</div>
			<div class="card-body">
				<table class="table table-striped table-dark">
					<thead class="thead-light">
						<tr>
							<th scope="col">ID del coche</th>
							<th scope="col">Matrícula</th>
							<th scope="col">Marca</th>
							<th scope="col">Modelo</th>
							<th scope="col" th:hidden="${btnDropCarEnabled}">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="car : ${carsListView}">
							<tr>
								<td scope="row" th:text="${car.id}" />
								<td scope="row" th:text="${car.matricula}" />
								<td scope="row" th:text="${car.marca}" />
								<td scope="row" th:text="${car.modelo}" />
								<td scope="row" th:hidden="${btnDropCarEnabled}">
									<form action="actDropCar" method="post">
										<button th:disabled="${btnDropCarEnabled}" type="submit"
											id="btnDropCar" name="carId" th:value="${car.id}"
											class="btn btn-danger">▼</button>
									</form>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<a class="btn btn-primary" th:href="@{index}" id="aBtnReturn" role="button">Volver</a>
			</div>
		</div>
	</body>
</html>